name: CI - Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restaurar pacotes NuGet
        run: dotnet restore

      - name: Compilar o projeto
        run: dotnet build --no-restore --configuration Release

      - name: Rodar testes unitários
        run: dotnet test --no-build --configuration Release --verbosity normal
